<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.monitor.node.mapper.TGWMapper">
    <select id="selectTgwList">

        SELECT
            `id`
             , `area_name`
             , `type`
             , `name`
             , `depth`
             , `forward_group_name`
             , `total_x_pos`
             , `total_y_pos`
             , `x_pos`
             , `y_pos`
             , `description`
             , `image_name`
        FROM
            `map_info`

    </select>
</mapper>