<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.monitor.node.mapper.TGWMapper">
    <select id="selectTgwList">

        SELECT
            `id`
             , `area_name`
             , `type`
             , `name`
             , `depth`
             , `forward_group_name`
             , `port`
             , `image_name`
        FROM
            `map_info`

    </select>

    <insert id="insertInfoList">
        INSERT INTO
            `insert_info`
                (
                    `ip`,
                     `name`,
                     `port`,
                     `area`,
                     `type`,
                     `depth`,
                     `forward_group`,
                     `image`
                )
        VALUES
            (
                #{ip},
                 #{name},
                 #{port},
                 #{area},
                 #{type},
                 #{depth},
                 #{forward_group},
                 #{image}
            )

    </insert>

    <select id="selectInsertInfoList">

        SELECT
            `id`,
                `ip`,
                `area`,
                `type`,
                `name`,
                `depth`,
                `forward_group`,
                `port`,
                `image`
        FROM
            `insert_info`

    </select>

</mapper>